# Idea
.idea
.godo
/language/en-GB/mod_custom.sys.ini
/language/en-GB/bak.en-GB.com_osmembership.ini
/language/en-GB/com_admintools.ini
/language/en-GB/com_ajax.ini
/language/en-GB/com_akeebabackup.ini
/language/en-GB/com_config.ini
/language/en-GB/com_contact.ini
/language/en-GB/com_content.ini
/language/en-GB/com_finder.commonwords.txt
/language/en-GB/com_finder.ini
/language/en-GB/com_media.ini
/language/en-GB/com_newsfeeds.ini
/language/en-GB/com_privacy.ini
/language/en-GB/com_tags.ini
/language/en-GB/com_users.ini
/language/en-GB/com_wrapper.ini
/language/en-GB/en-GB.com_latestnewsenhancedpro.ini
/language/en-GB/en-GB.com_osmembership.ini
/language/en-GB/en-GB.com_search.ini
/language/en-GB/en-GB.lib_syw.sys.ini
/language/en-GB/en-GB.mod_articledetailsprofile.ini
/language/en-GB/en-GB.mod_articledetailsprofile.sys.ini
/language/en-GB/en-GB.mod_j51calltoaction.ini
/language/en-GB/en-GB.mod_j51icons.ini
/language/en-GB/en-GB.mod_j51imagehover.ini
/language/en-GB/en-GB.mod_j51inlineicons.ini
/language/en-GB/en-GB.mod_j51layerslideshow.ini
/language/en-GB/en-GB.mod_j51numbers.ini
/language/en-GB/en-GB.mod_j51progress.ini
/language/en-GB/en-GB.mod_j51rotate.ini
/language/en-GB/en-GB.mod_j51testimonials.ini
/language/en-GB/en-GB.mod_kunenalogin.ini
/language/en-GB/en-GB.mod_kunenalogin.sys.ini
/language/en-GB/en-GB.mod_kunenasearch.ini
/language/en-GB/en-GB.mod_kunenasearch.sys.ini
/language/en-GB/en-GB.mod_latestnewsenhanced.ini
/language/en-GB/en-GB.mod_latestnewsenhanced.sys.ini
/language/en-GB/en-GB.mod_sclogin.ini
/language/en-GB/en-GB.mod_search.ini
/language/en-GB/en-GB.mod_search.sys.ini
/language/en-GB/en-GB.pkg_advancedmodules.sys.ini
/language/en-GB/en-GB.pkg_articledetailsprofiles.sys.ini
/language/en-GB/en-GB.pkg_articlesanywhere.sys.ini
/language/en-GB/en-GB.pkg_cachecleaner.sys.ini
/language/en-GB/en-GB.pkg_conditions.sys.ini
/language/en-GB/en-GB.pkg_dbreplacer.sys.ini
/language/en-GB/en-GB.pkg_latestnewsenhanced.sys.ini
/language/en-GB/en-GB.pkg_latestnewsenhancedpro.sys.ini
/language/en-GB/en-GB.pkg_modulesanywhere.sys.ini
/language/en-GB/en-GB.pkg_regularlabs.sys.ini
/language/en-GB/en-GB.pkg_regularlabsmanager.sys.ini
/language/en-GB/en-GB.pkg_sywlibrary.sys.ini
/language/en-GB/en-GB.pkg_tabsaccordions.sys.ini
/language/en-GB/en-GB.pkg_tooltips.sys.ini
/language/en-GB/en-GB.tpl_j51_layla.ini
/language/en-GB/files_joomla.sys.ini
/language/en-GB/finder_cli.ini
/language/en-GB/index.html
/language/en-GB/install.xml
/language/en-GB/joomla.ini
/language/en-GB/langmetadata.xml
/language/en-GB/lib_joomla.ini
/language/en-GB/lib_joomla.sys.ini
/language/en-GB/lib_phpass.sys.ini
/language/en-GB/localise.php
/language/en-GB/mod_articles.ini
/language/en-GB/mod_articles.sys.ini
/language/en-GB/mod_articles_archive.ini
/language/en-GB/mod_articles_archive.sys.ini
/language/en-GB/mod_articles_categories.ini
/language/en-GB/mod_articles_categories.sys.ini
/language/en-GB/mod_articles_category.ini
/language/en-GB/mod_articles_category.sys.ini
/language/en-GB/mod_articles_latest.ini
/language/en-GB/mod_articles_latest.sys.ini
/language/en-GB/mod_articles_news.ini
/language/en-GB/mod_articles_news.sys.ini
/language/en-GB/mod_articles_popular.ini
/language/en-GB/mod_articles_popular.sys.ini
/language/en-GB/mod_banners.ini
/language/en-GB/mod_banners.sys.ini
/language/en-GB/mod_breadcrumbs.ini
/language/en-GB/mod_breadcrumbs.sys.ini
/language/en-GB/mod_custom.ini
/language/en-GB/mod_feed.ini
/language/en-GB/mod_feed.sys.ini
/language/en-GB/mod_finder.ini
/language/en-GB/mod_finder.sys.ini
/language/en-GB/mod_footer.ini
/language/en-GB/mod_footer.sys.ini
/language/en-GB/mod_languages.ini
/language/en-GB/mod_languages.sys.ini
/language/en-GB/mod_login.ini
/language/en-GB/mod_login.sys.ini
/language/en-GB/mod_menu.ini
/language/en-GB/mod_menu.sys.ini
/language/en-GB/mod_random_image.ini
/language/en-GB/mod_random_image.sys.ini
/language/en-GB/mod_related_items.ini
/language/en-GB/mod_related_items.sys.ini
/language/en-GB/mod_stats.ini
/language/en-GB/mod_stats.sys.ini
/language/en-GB/mod_syndicate.ini
/language/en-GB/mod_syndicate.sys.ini
/language/en-GB/mod_tags_popular.ini
/language/en-GB/mod_tags_popular.sys.ini
/language/en-GB/mod_tags_similar.ini
/language/en-GB/mod_tags_similar.sys.ini
/language/en-GB/mod_users_latest.ini
/language/en-GB/mod_users_latest.sys.ini
/language/en-GB/mod_whosonline.ini
/language/en-GB/mod_whosonline.sys.ini
/language/en-GB/mod_wrapper.ini
/language/en-GB/mod_wrapper.sys.ini
/language/en-GB/pkg_admintools.sys.ini
/language/en-GB/pkg_akeebabackup.sys.ini
/language/en-GB/pkg_sociallogin.sys.ini
/language/en-GB/tpl_cassiopeia.ini
/language/en-GB/tpl_cassiopeia.sys.ini
